/* Boiler Plate */
* {
  padding: 0;
  margin: 0;
}

html {
  line-height: 1.6;
  font-family: "Nunito", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5 {
  line-height: 1.2;
}

body {
  height: 100vh;
  width: 100vw;
}

/* appWrapper Grid adjustments */
#appWrapper {
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-template-columns: 20% auto 0px;
  grid-template-rows: 15% auto;
  column-gap: 20px;
  background-color: #32373e;
  /* entire app's background */
}

#header {
  grid-column-start: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}

#aside {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;
  background-color: #3c424a;
}

#taskDisplay {
  /* will have tasks overflow, just change overflow to scroll*/
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}

.scrollAndAdd {
  position: absolute;
}

/* General Styling for major compnent divs */
/* Header */
#header {
  /* might need to add gap between header and taskDisplay */
  border-bottom: 1px solid #707070;
}

#headerFlex {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-between;
}

#logo {
  max-width: 100%;
  /* width gets no longer than 100% when changing */
  height: 100%;
  /* height can adjust to whatever to prevent warping */
  align-self: center;
}

#timeDisplay {
  margin: 0 15px;
  align-self: flex-end;
  font-size: 5vh;
  color: #ffffff;
}

/* Aside */
#aside {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-content: center;
}

.viewSelector {
  display: flex;
  flex-flow: column;
  width: 90%;
  margin: 0 0 10% 0;
  padding: 2vh 0;
  border-radius: 2vw;
  align-self: center;
}

.viewSelector__name {
  margin: 0 0 1vh 0;
  text-align: center;
  font-size: 2vh;
  color: white;
}

.viewSelector__image {
  max-height: 7vh;
  width: auto;
}

.viewSelector--purple {
  background-color: #9469eb;
}

.viewSelector--blue {
  background-color: #0099fa;
}

.viewSelector--pink {
  background-color: #da71f9;
}

.viewSelector--on {
  /* setting dot to correct position */
  position: absolute;
  height: 0.8vh;
  top: 18vh;
  left: 17vw;
}

/* Calendar */
#calendar {
  width: 90%;
  height: 30%;
  margin-top: 10%;
  align-self: center;
}

#calendarHeader {
  width: fit-content;
  margin: 0 0 0 1vw;
  padding: 0.3vh 1vw;
  color: #dfdfdf;
}

.calendarHeader--background {
  background-color: #fc5353;
  border-radius: 8px;
}

#calendarHeader__date {
  font-size: 2vh;
}

#calendarGrid {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  height: 85%;
  background-color: #32373e;
  border-radius: 8px;
}

.calendarGrid__point {
  width: 0.8vw;
  height: fit-content;
  padding: 0.1vh 0.5vw;
  margin: 0 0.2vw 0 0.2vw;
  font-size: 1.8vh;
  color: #ffffff;
  text-align: center;
}

.calendarGrid__point:hover {
  background-color: #fc53539f;
  border-radius: 500px;
}

.calendarGrid__week {
  display: flex;
  justify-content: center;
  width: 95%;
  height: fit-content;
  justify-self: center;
}

.calendarGrid__point--currentDay {
  background-color: #fc5353;
  border-radius: 500px;
}

.calendarGrid__point-notCurrent {
  color: #495058;
}

#weekHeadings {
  display: flex;
  justify-content: center;
  width: 95%;
  height: fit-content;
  justify-self: center;
  margin: 1vh 0 0 0;
  padding-bottom: 1vh;
}

.calendarGrid__point--weekHeading {
  color: #ffffff;
  font-size: 1.5vh;
}

.calendarGrid__point--weekHeading:hover {
  background-color: #11111100;
}

/* Task Display */
#taskDisplay {
  display: flex;
  flex-flow: column;
  width: 95%;
  height: 100%;
  max-height: 100%;
  overflow-y: scroll;
}

.taskDisplayDay {
  display: flex;
  flex-flow: column;
  height: fit-content;
  margin: 2vh 0 0 0;
}

.taskDisplayDay__nameDateContainer {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  width: 15%;
}

.taskDisplayDay__day {
  color: #ffffff;
  font-size: 4.5vh;
}

.taskDisplayDay__date {
  height: 2vh;
  align-self: flex-end;
  margin: 0 0 2.4vh 0.5vw;
  color: #ffffff;
  font-size: 2vh;
}

.taskDisplayDay__taskRow {
  display: flex;
  flex-flow: row;
  margin: 4vh 0 0 0;
  width: 100%;
  height: 100%;
}

.task {
  display: flex;
  flex-flow: row;
  height: 6vh;
  width: 23vw;
  margin: 0 1.5vw 0 0;
  align-items: center;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 3px 5px 5px #11111144;
}

.task__doneMarker--incomplete {
  width: 3.5vh;
  margin: 0 0 0 3vw;
}

.task__description {
  color: #32373e;
  font-size: 2.5vh;
  margin: 0 0 0 3vw;
}

/* scrollBar */
/* addButton */
#add {
  position: absolute;
  right: 8vw;
  top: 88vh;
  width: 2.8vw;
}

/*# sourceMappingURL=index.css.map */
